/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* smalt fönster för Our car brands start*/
@media (min-width: 420px) 
{

  .car-logotext{
    color:white;

  }
  .brands-logo {
    width: 100%;
    position: relative;
    left: 0;
    top: 5em;
    overflow: hidden;
    margin: auto;
   }

   .brands-logo .brands-wrapper {
     width: 100%;
     float: left;
     position: relative;
     overflow: hidden;
     margin: 5px;
     text-align: center;
    }

    .brands-logo .brands-wrapper img {
      width: 100%;
      display: block;
     }

     .brands-logo .brands-wrapper h5 {
       color: #ccc;
       font-weight: 600;
       background: #EEE;
       color: #333;
       width: 100%;
       padding: 1em;
       margin: 1em;
       left: -2em;
       position: absolute;
       bottom: -1em;
       z-index: 10;
       text-align: center;
      }

}

/* smalt fönster för OUR Car BRANDS SLUT */





/* smalt fönster för Home page */
@media (max-width: 1000px)
{
    body {
      margin: 0%;
      background-color:#35424a;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .site {
      display: grid;
      grid-gap: 60px;
      grid-template-columns: 1fr 1fr;
      background-color:#35424a;
    }
    .box {
      background:#35424a;;
      color:white;
      border-radius: 10px;
      padding: 5%;
    }
    .headerlogo {
      padding: 1%;
      width: 120px;
    }
    .socialmedia {
      display: none;
    }
    .navbar {
      display: none;
    }
    .header {
      position: fixed;
      width: 100%;
      z-index: 999;
      background-image: linear-gradient(to bottom right, rgb(0,0,0) , rgb(15, 15, 15));
      margin-top: 0px;
    }
    .invisible-header {
      grid-row: 1;
      width: 100%;
      height: 80px;
    }
    .main-area {
      margin: 0% 1.5% 0% 1.5%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row: 2;
    }
    .bildshow img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
    }
    .maincircle {
      width: 100px;
      height:100px;
      border-radius: 50%;
      border: 1px solid rgb(194, 56, 56);
      background-color: red;
      z-index: 1;
      position: absolute;
      padding: 0%;
      margin: 22% 20% 3% 5%;
    }
    .maintext {
      color: white;
      position: absolute;
      padding: 4% 4% 4% 4%;
      margin: 20% 4% 0% 0%;
      z-index: 2;
      text-align: center;
      transform: rotate(-15deg);
      font-size: 60%;
    }
    .article1 {
      margin: 2% 1.5% 1.5% 3%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row: 3;
      background-color:#35424a;;
      text-align: center;
      font-size: 80%;
      padding: 0px;
    }
    .article2 {
      margin: 2% 3% 1.5% 1.5%;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 3;
      background-color:#35424a;;
      text-align: center;
      font-size: 80%;
      padding: 0px;
    }
    .article3 {
      margin: 2% 1.5% 1.5% 3%;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row: 4;
      background-color:#35424a;
      text-align: center;
      font-size: 80%;
      padding: 0px;
    }

    .article-image {
      border-radius: 10px 10px 0px 0px;
    }
    .article-text {
      text-align: start;
      padding: 0% 5% 0% 5%;
    }

    .article-button {
      background-color:#B30000;
      color: white;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
    }
    .article-button:hover {
      background-color: #ddd;
      color: black;
    }



/* OM OSS START */
    .aboutus {
      grid-column: 1/3;
      grid-row: 5;
      text-align: center;
      padding: 0px 5px 5px 5px;
      margin-bottom: 25px;
      height: 10px;
      font-size: 120%;
      color:white;
     }

    .about {
      grid-column: 1/3;
      grid-row: 5;
      text-align: center;
      padding: 0px 5px 5px 5px;
      margin-bottom: 50px;
      height: 10px;
      font-size: 80%;
      color:white;
     }

/*OM OSS SLUT */




     /* mellan fönster för Our car brands */
     .car-logotext{
      color:white;
      
    }
     .brands-logo {
       width: 80%;
       position: relative;
       left: 0;
       top: 5em;
       overflow: hidden;
       margin: auto;
      }

      .brands-logo .brands-wrapper {
        width: 49.5%;
        height: 250px;
        display: inline-block;
        margin: auto;
        position: relative;
        overflow: hidden;
       }

       .brands-logo .brands-wrapper img {
         width: 70%;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
        }

    .footer {
      grid-column: 1/3;
      grid-row: 5;
      text-align: center;
      padding: 0px 5px 5px 5px;
      margin-top: 50px;
      height: 10px;
      font-size: 80%;
      color:white;
     }
}




/* brett fönster för Home page*/
@media (min-width: 1000px)
{
    body {
      margin: 0% 10% 0% 10%;
      background-color: #35424a;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .site {
      display: grid;
      grid-gap: 70px;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #35424a;
    }
    .box {
      background: white;
      color: white;
      border-radius: 5px;
      padding: 4%;
    }
    .headerlogo {
      padding: 5px 5px 10px 5px;
      width: 120px;
      float: left;
    }
    .socialmedia img {
      width: 30px;
      height: 30px;
      padding: 5px 5px 0px 0px;
      float: right;
    }
    .topnav {
      display: none;
    }
    .header {
      display: grid;
      grid-template-columns: 1fr 6fr 1fr;
      grid-column: 1/4;
      background-image: linear-gradient(to bottom right, rgb(0,0,0) , rgb(15, 15, 15));
      box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
      position: fixed;
      width: 80%;
      margin-top: 0px;
      border-radius: 0px 0px 5px 5px;
      z-index: 999;
    }
    .invisible-header {
      grid-column: 1/4;
      grid-row: 1;
      width: 100%;
      height: 76px ;
    }
    .main-area {
      grid-column: 1 / 4;
      grid-row: 2;
    }
    .bildshow img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }

    .maintext {
      color: white;
      position: absolute;
      padding: 4% 4% 4% 4%;
      margin: 1% 12% 15% -10%;
      z-index: 2;
      text-align: center;
      transform: rotate(-15deg);
    }
    .article1 {
      grid-column: 1;
      grid-row: 3;
      background-color: #35424a;
      text-align: center;
      font-size: 100%;
      padding: 0px;
    }
    .article2 {
      grid-column: 2;
      grid-row: 3;
      background-color:#35424a;
      text-align: center;
      font-size: 100%;
      padding: 0px;
    }
    .article3 {
      grid-column: 3;
      grid-row: 3;
      background-color:#35424a;
      text-align: center;
      font-size: 100%;
      padding: 0px;
    }
    .article-image {
      border-radius: 5px 5px 5px 5px;
    }
    .article-text {
      text-align: center;
      padding: 0% 1% 1% 1%;
    }
    .article-button {
      background-color:#B30000;
      color: white;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
      transition: transform .2s;
    }
    .article-button:hover {
      background-color: rgb(207, 83, 83);
      color:black;
      transform: scale(1.03);
    }

/* Om oss start */
    .aboutus {
      grid-column: 1/4;
      grid-row: 4;
      text-align: center;
      padding: 0px;
      line-height: 16px;
      font-size: 120%;
      color:white;
     }

    .about {
      grid-column: 1/4;
      grid-row: 4;
      text-align: left;
      padding: 0px;
      line-height: 16px;
      font-size: 80%;
      color:white;
     }


  /* Brett fönster för Our car brands START  */
  .brands-logo {
  width: 80%;
  position: relative;
  left: 0;
  top: 5em;
  overflow: hidden;
  margin: auto;
  }


.car-logotext{
color:white;
        
}
.brands-logo .brands-wrapper {
 width: 49.5%;
height: 250px;
display: inline-block;
margin: auto;
position: relative;
overflow: hidden;
}

.brands-logo .brands-wrapper img {
 width: 50%;
 position: absolute;
 top: 50%;
 left: 50%;
transform: translate(-50%, -50%);
}

.footer {
grid-column: 1/4;
grid-row: 4;
text-align: center;
padding: 0px 5px 5px 5px;
margin-bottom: 50px;
height: 10px;
font-size: 80%;
color:white;
margin: 15em;

 }
}

/* BRETT FÖNSTER OUR CAR BRANDS */
 

 /* smalt fönster meny */
.topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
.topnav #myLinks {
  display: none;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.topnav a.icon {
  background:black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color:orange;
  color:black;
}
.topnav a.active1 {
  background-color:orange;
}


/* brett fönster meny */
.navbar {
  width: 100%;
  overflow: auto;
}
.navbar a {
  float: left;
  margin: 20px 1px 0px 1px;
  padding: 5px 1px 5px 1px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  width: 16%;
  text-align: center;
}
.navbar a:hover {
  background-color: black;
  color:orange;
  border-radius: 5px;
}
.navbar a.active {
  background-color:black;
  border-radius: 5px;
}


/* smalt fönster för cars on sale START */
@media (max-width: 1000px) {
  .box-car {
   background: white;
   color: black;
   border-radius: 10px;
   padding: 5%;
  }
  .article-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }
  .article-car1 {
   margin: 2% 1.5% 1.5% 3%;
   grid-column: 1;
   grid-row: 2;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car2 {
   margin: 2% 3% 1.5% 1.5%;
   grid-column: 2;
   grid-row: 2;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car3 {
   margin: 2% 1.5% 1.5% 3%;
   grid-column: 1;
   grid-row: 3;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car4 {
   margin: 2% 3% 1.5% 1.5%;
   grid-column: 2;
   grid-row: 3;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car5 {
   margin: 2% 1.5% 1.5% 3%;
   grid-column: 1;
   grid-row: 4;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car6 {
   margin: 2% 3% 1.5% 1.5%;
   grid-column: 2;
   grid-row: 4;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car7 {
   margin: 2% 1.5% 1.5% 3%;
   grid-column: 1;
   grid-row: 5;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car8 {
   margin: 2% 3% 1.5% 1.5%;
   grid-column: 2;
   grid-row: 5;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .article-car9 {
   margin: 2% 1.5% 1.5% 3%;
   grid-column: 1;
   grid-row: 6;
   background-color:#35424a;
   text-align: center;
   font-size: 80%;
   padding: 0px;
  }
  .car-image {
   border-radius: 5px 5px 0px 0px;
  }
  .car-text1 {
   text-align: left;
   color:white;
   padding: 0% 3% 3% 10%;
   grid-column: 1;
   font-size: 100%;
  }
  .car-text2 {
   text-align: right;
   padding: 0% 3% 3% 3%;
   grid-column: 2;
   font-size: 100%;
  }
  .car-text3 {
   text-align: right;
   padding: 0% 10% 3% 3%;
   grid-column: 3;
   color: red;
   font-size: 100%;
  }
  .car-button {
   background-color:#B30000;
   color: white;
   border-radius: 5px;
   padding: 5px;
   text-decoration: none;
  }
  .car-button:hover {
   background-color: rgb(207, 83, 83);
   color: black;
  }
  .car-box {
   grid-column: 1/4;
   grid-row: 7;
   text-align: center;
   font-size: 80%;
   color: black;
  }
 }

 /* smalt fönster Cars on sale SLUT */

 /* brett fönster för cars on sale START*/
 @media (min-width: 1000px) {
  .box-car {
   background: white;
   color: white;
   border-radius: 5px;
   padding: 4%;
   transition: transform .2s;
  }
  .box-car:hover {
   transform: scale(1.03);
  }
  .article-grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  }
  .article-car1 {
   grid-column: 1;
   grid-row: 2;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding: 0px;
  }
  .article-car2 {
   grid-column: 2;
   grid-row: 2;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding: 0px;
  }
  .article-car3 {
   grid-column: 3;
   grid-row: 2;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding: 0px;
  }
  .article-car4 {
   grid-column: 1;
   grid-row: 3;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:50px;
  }
  .article-car5 {
   grid-column: 2;
   grid-row: 3;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:15px;
  }
  .article-car6 {
   grid-column: 3;
   grid-row: 3;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:40px;
  }
  .article-car7 {
   grid-column: 1;
   grid-row: 4;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:50px;
  }
  .article-car8 {
   grid-column: 2;
   grid-row: 4;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:30px;
  }
  .article-car9 {
   grid-column: 3;
   grid-row: 4;
   background-color:#35424a;
   text-align: center;
   font-size: 110%;
   padding-top:50px;
  }
  .car-image {
   border-radius: 5px 5px 0px 0px;
  }
  .car-text1 {
   text-align: left;
   padding: 0% 3% 3% 3%;
   grid-column: 1;
   font-size: 80%;
  }
  .car-text2 {
   text-align: right;
   padding: 0% 3% 3% 3%;
   color: white;
   grid-column: 2;
   font-size: 80%;
  }
  .car-text3 {
   text-align: right;
   padding: 0% 10% 3% 3%;
   grid-column: 3;
   color: red;
   font-size: 80%;
  }
  .car-button {
   background-color:red;
   color: white;
   border-radius: 5px;
   padding: 5px;
   text-decoration: none;
  }
  .car-button:hover {
   background-color: rgb(207, 83, 83);
   color: black;
  }
  .footer-car {
   grid-column: 1/4;
   grid-row: 5;
   text-align: center;
   font-size: 80%;
   color: white;
  }
}

 /* Brett fönster för Cars on sale SLUT */




/*Brett fönster för kontakt START*/
@media (min-width: 1000px)
{
    .site1 {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr;
      background-color:#35424a;;
      color: rgb(0, 0, 0);
    }
    .kontakt-main-area {
      grid-column: 1 / 4;
      grid-row: 1;
      text-align: center;
      font-size: 0%;
      background-color:#35424a;
      margin-top:0px;
      padding-top: 16%;
    }
    .kontakt-bild{
        border-radius: 5px;
    }
    .kontakt-article1 {
      grid-column: 1;
      grid-row: 2;
      background-color:#35424a;
      text-align: center;
      font-size: 100%;
      padding: 0px;
    }
    .kontakt-article2 {
      grid-column: 2;
      grid-row: 2;
      background-color:#35424a;
      text-align: center;
      font-size: 100%;
      padding: 0px;
    }
    h2 {
        color:white;
    }
    h3 {
        color: rgb(89, 187, 194);
    }
    .contact-link{
        text-decoration: none;
    }
    .contact-link:hover{
        text-decoration-line: underline;
        color: rgb(67, 154, 160);
    }
}

/*Brett fönster för kontakt SLUT*/


/* smalt fönster för kontakt START */
@media (max-width: 1000px) {
    .site1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #35424a;
      color:black;
    }
    .kontakt-main-area {
      grid-column: 1 / 3;
      grid-row: 2;
      text-align: center;
      font-size: 60%;
      color:white;
      background-color:#35424a;
      margin: 0% 1.5% 0% 1.5%;
      padding-top: 18%;
    }
    .kontakt-bild{
        border-radius: 5px;
    }
    .kontakt-article1 {
      grid-column: 1;
      grid-row: 3;
      background-color:#35424a;
      text-align: center;
      font-size: 80%;
      padding: 0px;
      margin: 2% 1.5% 1.5% 3%;
    }
    .kontakt-article2 {
      grid-column: 2;
      grid-row: 3;
      background-color:#35424a;
      text-align: center;
      font-size: 80%;
      padding: 0px;
      margin: 2% 3% 1.5% 1.5%;
    }
    .h1-contact {
        color:orange;
        font-size: 18px;
        padding-bottom: 10%;;
    }
    .kontakt-h3 {
        color: rgb(89, 187, 194);
    }
    .contact-link{
        text-decoration: none;
    }
    .contact-link:hover{
        text-decoration-line: underline;
        color: rgb(67, 154, 160);
    }
    .footer{
      padding-top: 15%;
    }
}

/*smalt fönster för kontakt Slut*/
